# Replace `./db.sqlite` with the path to where you want the project's database to reside
DATABASE_URL="file:./db.sqlite"
# Where your project will run (e.g., http://myserver.local:3000)
ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
